.main-box {
    text-align: center;
    width: 320px;
    height: 475px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px; 
}

.main-box .main-box.-qrcode {   
    padding-top: ;
    width: 290px;
    height: 290px;
    margin-top: 15px;
    border-radius: 20px;
     
}