body {
    background-color: hsl(212, 45%, 89%);
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    height: 100vh; 
}

main {
    background-color: hsl(0, 0%, 100%);
    width: 19.7em;
    height: 31em;
    border-radius: 15px;  
    border-width: 2px;
    
}

.main.-qrcode {
    margin: 0.85em;
    width: 18em;
    border-radius: 10px;
}

.main-text {
    font-family: Outfit, sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    margin-left: 1.3em;
    margin-right: 1.3em;
    margin-bottom: 15;
    text-align: center;
    color: hsl(218, 44%, 22%);
    line-height: 30px;
}

.main-text.-clean {
    font-weight: 400;
    font-size: 16px;
    color:  gray;
    line-height: normal;
    padding-top: 0;
    padding-right: 4px;
    padding-left: 4px;
    
}

footer {
    font-size: 11px; 
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.footer.-link { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}
