body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;  
}

main {
    background-color: hsl(0, 0%, 100%);
    width: 21em;
    border-radius: 15px;  
}

.main.-qrcode {
    margin: 13px;
    width: 310px;
    border-radius: 10px;
}

.main-text {
    font-family: Outfit, sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-bottom: 17px;
    text-align: center;
    color: hsl(218, 44%, 22%);
    line-height: 30px;
}

.main-text.-clean {
    font-weight: 400;
    font-size: 16px;
    color:  gray;
    line-height: normal;
    padding-top: 0;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 40px;
}

footer {
    font-size: 11px; 
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.footer.-link { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}
